.DS_Store
.idea
.vscode
*.swp
env/
env_carteras_alert_file_generator/
venv/
venv2/
venv2_01/
venv2_02/
Front/local.env.js
Front/development.env.js
Front/.idea
Front/.tmp
Front/client/bower_components
Front/public
Front/dist
Front/node_modules
Front/npm-debug.log
Front/coverage
Front/server/config/dev.env.js
Front/server/auth/tmp.dat
Front/test/Cucumber/.idea
Front/test/Cucumber/Downloads/
Front/templates
Back/amBloomberg/.classpath
Back/amBloomberg/.project
Back/amBloomberg/target/
Back/BloombergUDF/.classpath
Back/BloombergUDF/.project
Back/BloombergUDF/target/
Back/HelenaLambdas/.idea
Back/BloombergUDF/bin/
Back/amBloomberg/bin/
Back/FondosTerceros/.idea
install/
*.pyc
*.zip
*.whl
build/
dist/
tmp/
.eggs/
*.egg-info/
.coverage
ansible.key
coverage.xml
nosetests.xml
.scannerwork/
Back/InternationalFunds/services/logs
Back/InternationalFunds/services/project
Back/InternationalFunds/services/target
nohup.out
Back/InternationalFunds/services/.idea
.ideaF
Front/uploads/
/Back/InternationalFunds/.idea/
fdt_emt_local_scripts/
fdt_ept_local_scripts/
.tox
htmlcov
*.db
/Back/Graphql/system/**/development.py
/Back/Graphql/system**/local.py
node_modules/
.serverless/
Front/client/app/app-style-processed.css
test-reports/
