.DS_Store
.idea
.vscode
*.swp
env/
install/
*.pyc
*.zip
*.whl
build/
dist/
tmp/
.eggs/
*.egg-info/
.coverage
ansible.key
coverage.xml
nosetests.xml
.scannerwork/
nohup.out
.ideaF
.tox
htmlcov
*.db
node_modules/
.serverless/
Front/client/app/app-style-processed.css
test-reports/
.env
